@media (max-width: 576px) { 
			.add {
				margin-top: 1em;
			}
		}
		.card {
			margin-bottom: 1em;
		}
		.v-auto {
			margin-top: auto;
			margin-bottom: auto;
		}
		.set14 th:nth-child(1){
			.col-1;
		}
		.set14 th:nth-child(2){
			.col-3;
		}
		.set14 td:nth-child(1){
			.col-1;
		}
		.set14 td:nth-child(2){
			.col-3;
		}