@media (max-width: 576px) { 
	.add {
		margin-top: 1em;
	}
}
.card {
	margin-bottom: 1em;
}

.v-auto {
	margin-top: auto;
	margin-bottom: auto;
}
.set14 th, td {
	position:relative;width:100%;padding-right:15px;padding-left:15px;
}
.set14 th:nth-child(1){
	-ms-flex:0 0 33.333333%;flex:0 0 33.333333%;max-width:33.333333%;
}
.set14 th:nth-child(2){
	-ms-flex:0 0 66.666666%;flex:0 0 66.666666%;max-width:66.666666%;
	}
.set14 td:nth-child(1){
	-ms-flex:0 0 33.333333%;flex:0 0 33.333333%;max-width:33.333333%;
}
.set14 td:nth-child(2){
	-ms-flex:0 0 66.666666%;flex:0 0 66.666666%;max-width:66.666666%;
}
.set14 tr{
	display:-ms-flexbox!important;display:flex!important;
}